{$modules.head}

	<!-- This is an HTML comment -->
	{* This is a Smarty comment *}

    <h1>{$foodtype}</h1>

    <form action="http://g19.local/insertfood/insert" method="POST">
        <label>Name:</label><input type="text" name="namefood" required></br>
        </br>
        <label>Type:</label>
        <select name="typefood">
            <option value="Primer Plato">Primer Plato</option>
            <option value="Segundo Plato">Segundo Plato</option>
            <option value="Postres">Postres</option>
        </select></br>
        </br>
        <label>URL:</label><input type="url" name="urlfood" required></br>
        </br>
        <input type="submit" value="Submit">
    </form>

    <form action="http://g19.local/selectplats/1" method="POST">
        <input type="submit" value="Go to gallery">
    </form>


{$modules.footer}