
<div>
    <a href={$url2oplato1}>
        <img id="food_image" width="200px" height="200px" src={$img2oplato1} alt="none">
    </a>
    <a href={$url2oplato2}>
        <img id="food_image" width="200px" height="200px" src={$img2oplato2} alt="none">
    </a>
    <a href={$url2oplato3}>
        <img id="food_image" width="200px" height="200px" src={$img2oplato3} alt="none">
    </a>
</div>
