{$modules.head}

{$modules.primerplato}
{$modules.segundoplato}
{$modules.postres}

<form action="{$previouslink}" method="POST">
    <input type="submit" style="visibility:{$visprev}" value="Previous">
</form>

<form action="{$nextlink}" method="POST">
    <input type="submit" style="visibility:{$visnext}" value="Next">
</form>

{$modules.footer}