
<div>
    <a href={$urlpostres1}>
        <img id="food_image1" style="float:left" height="200" width="200" src="{$imgpostres1}"
             alt="none">
    </a>
    <a href={$urlpostres2}>
        <img id="food_image2" style="float:left" height="200" width="200" src="{$imgpostres2}"
             alt="none">
    </a>
    <a href={$urlpostres3}>
        <img id="food_image3" height="200" width="200" src="{$imgpostres3}"
             alt="none">
    </a>
</div>