<div>
    <a href={$url1rplato1}>
        <img id="food_image1" style="float:left" height="200" width="200" src="{$img1rplato1}"
             alt="none">
    </a>
    <a href={$url1rplato2}>
        <img id="food_image2" style="float:left" height="200" width="200" src="{$img1rplato2}"
             alt="none">
    </a>
    <a href={$url1rplato3}>
        <img id="food_image3" height="200" width="200" src="{$img1rplato3}"
             alt="none">
    </a>
</div>