{$modules.head}

{$modules.dishes1r}
{$modules.dishes2o}
{$modules.dishespostres}

<form action="{$previouslink}" method="POST">
    <input type="submit" style="visibility:{$visprev}" value="Previous">
</form>

<form action="{$nextlink}" method="POST">
    <input type="submit" style="visibility:{$visnext}" value="Next">
</form>

{$modules.footer}