	</div>
	<footer>
        <p id="username">Name 1: Albert Trias Torroglosa</p>
        <p id="username">Name 2: Ignasi Viñas Birba</p>
        <p id="username">Name 3: Karina Moller</p>
	</footer>
	
	<script src="{$url.global}/js/scripts.js"></script>
</body>
</html>