{$modules.head}

	<!-- This is an HTML comment -->
	{* This is a Smarty comment *}

    <form action="http://g19.local/food/1">
        <label for="exercise1">Exercise 1</label>
        <input type="submit" value="Go to Exercise 1">
    </form>

    <form action="http://g19.local/insertfood/inici">
        <label for="exercise2">Exercise 2</label>
        <input type="submit" value="Go to Exercise 2">
    </form>

    <form action="http://g19.local/insertlistfood/inici">
        <label for="exercise3">Exercise 3</label>
        <input type="submit" value="Go to Exercise 3">
    </form>

    <form action="http://g19.local/insert">
        <label for="exercise4">Exercise 4</label>
        <input type="submit" value="Go to Exercise 4">
    </form>

{$modules.footer}